/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *




 */

/**
 * bxSlider v4.2.5
 * Copyright 2013-2015 Steven Wanderski
 * Written while drinking Belgian ales and listening to jazz

 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */
/** VARIABLES 
===================================*/
/** RESET AND LAYOUT
===================================*/
/* line 14, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

/* line 22, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/* line 26, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bxslider {
  margin: 0;
  padding: 0;
}

/* line 30, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
ul.bxslider {
  list-style: none;
}

/* line 33, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/** THEME
===================================*/
/* line 39, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff;
}

/* line 46, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
/* line 53, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(/assets/bx_loader-6d46e2cf165a5a0584afba7bc9663da292ee08c97cfc7613de6013ed05be892a.gif) center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
/* line 64, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

/* line 72, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 84, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}

/* line 89, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

/* line 95, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
/* line 100, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(/assets/controls-257206c4fd6bcee36927eb0ef2ba087b5dfc6c9a18df7f8553878bf847616226.png) no-repeat 0 -32px;
}

/* line 104, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}

/* line 108, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-next {
  right: 10px;
  background: url(/assets/controls-257206c4fd6bcee36927eb0ef2ba087b5dfc6c9a18df7f8553878bf847616226.png) no-repeat -43px -32px;
}

/* line 112, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}

/* line 116, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

/* line 126, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
/* line 130, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

/* line 133, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(/assets/controls-257206c4fd6bcee36927eb0ef2ba087b5dfc6c9a18df7f8553878bf847616226.png) -86px -11px no-repeat;
  margin: 0 3px;
}

/* line 142, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}

/* line 147, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(/assets/controls-257206c4fd6bcee36927eb0ef2ba087b5dfc6c9a18df7f8553878bf847616226.png) -86px -44px no-repeat;
  margin: 0 3px;
}

/* line 156, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
/* line 162, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

/* line 166, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
/* line 171, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

/* line 179, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/bxslider-rails-4.2.5.1/vendor/assets/stylesheets/bxslider.css.scss */
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
/* line 1, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/jquery-modal-rails-0.0.4/vendor/assets/stylesheets/jquery.modal.css.scss */
.modal {
  display: none;
  width: 400px;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}
/* line 17, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/jquery-modal-rails-0.0.4/vendor/assets/stylesheets/jquery.modal.css.scss */
.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(/assets/close-b271f0f1080ed8ed4c8e884d846bf9d94a41d7c86f13145c66769f6b5a16adbb.png) no-repeat 0 0;
}

/* line 29, /home/ptiweb/.rvm/gems/ruby-2.2.3/gems/jquery-modal-rails-0.0.4/vendor/assets/stylesheets/jquery.modal.css.scss */
.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(/assets/spinner-5ec40102f6759ba8f08fffb82a28ad2f7f660c25dc457a142a06cacad5e789bf.gif) #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  z-index: 9999;
}
