.container
  .row
    .col-12
      %ul.bxslider
        %li= image_tag('slider1.jpg')
        %li= image_tag('slider2.jpg')
        %li= image_tag('slider1.jpg')
        %li= image_tag('slider2.jpg')
.container.news.p-20.clear
  .row
    .col-12
      %h2.block-tittle News
    .col-9
      .row
        .col-4
          .block
            = image_tag('new1.jpg')
            .text
              %h5 Lorem ipsum dolor sit amet adipiscing elit.
              %p
                Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                sapien condimentum magna lorem ipsum dolor
                sit amet consect adipisic sed eiusmod
                Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
              %a.btn.btn-gray{:href => "#"} READ MORE
        / col 1
        .col-4
          .block
            = image_tag('new2.jpg')
            .text
              %h5 Lorem ipsum dolor sit amet adipiscing elit.
              %p
                Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                sapien condimentum magna lorem ipsum dolor
                sit amet consect adipisic sed eiusmod
                Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
              %a.btn.btn-gray{:href => "#"} READ MORE
        / col 1
        .col-4
          .block
            = image_tag('new3.jpg')
            .text
              %h5 Lorem ipsum dolor sit amet adipiscing elit.
              %p
                Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                sapien condimentum magna lorem ipsum dolor
                sit amet consect adipisic sed eiusmod
                Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
              %a.btn.btn-gray{:href => "#"} READ MORE
        / col 1
    .col-3
      %ul.news-tab
        %li
          %a.active{:href => "#"} Resource Recovery  Efficiency
        %li
          %a{:href => "#"} Zero Failure
        %li
          %a{:href => "#"} Buried Infrastructure Performance
    .clear
/ end  news
.container.projects.p-30.clear
  .row
    .col-12
      %h2.block-tittle Projects
    .col-12
      %ul.carousel
        %li.item.active
          .col-12
            .block
              = image_tag('new1.jpg')
              .text
                %p
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                  sapien condimentum magna lorem ipsum dolor
                  sit amet consect adipisic sed eiusmod
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                %a.btn.btn-gray{:href => "#"} READ MORE
        %li.item
          .col-12
            .block
              = image_tag('new2.jpg')
              .text
                %p
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                  sapien condimentum magna lorem ipsum dolor
                  sit amet consect adipisic sed eiusmod
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                %a.btn.btn-gray{:href => "#"} READ MORE
        %li.item
          .col-12
            .block
              = image_tag('new3.jpg')
              .text
                %p
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                  sapien condimentum magna lorem ipsum dolor
                  sit amet consect adipisic sed eiusmod
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                %a.btn.btn-gray{:href => "#"} READ MORE
        %li.item
          .col-12
            .block
              = image_tag('new1.jpg')
              .text
                %p
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                  sapien condimentum magna lorem ipsum dolor
                  sit amet consect adipisic sed eiusmod
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                %a.btn.btn-gray{:href => "#"} READ MORE
        %li.item
          .col-12
            .block
              = image_tag('new2.jpg')
              .text
                %p
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                  sapien condimentum magna lorem ipsum dolor
                  sit amet consect adipisic sed eiusmod
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                %a.btn.btn-gray{:href => "#"} READ MORE
        %li.item
          .col-12
            .block
              = image_tag('new1.jpg')
              .text
                %p
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                  sapien condimentum magna lorem ipsum dolor
                  sit amet consect adipisic sed eiusmod
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                %a.btn.btn-gray{:href => "#"} READ MORE
        %li.item
          .col-12
            .block
              = image_tag('new3.jpg')
              .text
                %p
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                  sapien condimentum magna lorem ipsum dolor
                  sit amet consect adipisic sed eiusmod
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                %a.btn.btn-gray{:href => "#"} READ MORE
        %li.item
          .col-12
            .block
              = image_tag('new1.jpg')
              .text
                %p
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                  sapien condimentum magna lorem ipsum dolor
                  sit amet consect adipisic sed eiusmod
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                %a.btn.btn-gray{:href => "#"} READ MORE
        %li.item
          .col-12
            .block
              = image_tag('new2.jpg')
              .text
                %p
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                  sapien condimentum magna lorem ipsum dolor
                  sit amet consect adipisic sed eiusmod
                  Phasellus luctus nibhay pulvinar sed bibendum aliqua ligula
                %a.btn.btn-gray{:href => "#"} READ MORE
      .controls
        %a.previous{:href => "#"} Previous
        %a.next{:href => "#"} Next
    .clear
/ end projects
.container.center.clients.p-20.clear
  .row
    .col-12
      %h2.block-tittle Clients
    .col-12
      = image_tag('logos.jpg')
    .clear
