@charset "utf-8";
/* CSS Document */

/*
Theme Name: in the image
Theme URI: http://ptiwebtech.com/
Author: Rakesh bagri
Author URI: http://rakeshbagri.wordpress.com/ /*/


a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
	background: transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: top;
}
ol, ul, li {
	list-style: none;
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
table, table td {
	padding: 0;
	border: none;
	border-collapse: collapse;
}
img {
	vertical-align: top;
}
embed {
	vertical-align: top;
}
html {
	width: 100%;
	height: 100%;
} 
body, html { 
	 font-family: arial; 
	size:14px;
	color:#777777;
	background:#fff;
}
body p {
	line-height:18px;
}
.clear {
	clear: both;
}
.Clearfix {
	display: inline-block;
}
* {
	margin: 0;
	border: 0;
	padding: 0;
}
* {
	outline: none;
}
a {
	text-decoration: none;
	outline: none; size:14px;
}

h1, h2, h3, h4, h5  {    family: arial; }
 
 
 

@font-face {
    font-family: '/fonts/proxima_novasemibold';
    src: url('/fonts/proximanova-semibold_0-webfont.eot');
    src: url('/fonts/proximanova-semibold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-semibold_0-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-semibold_0-webfont.woff') format('woff'),
         url('/fonts/proximanova-semibold_0-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-semibold_0-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular';
    src: url('/fonts/proximanova-reg-webfont.eot');
    src: url('/fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-reg-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-reg-webfont.woff') format('woff'),
         url('/fonts/proximanova-reg-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-reg-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* =============================== form ========================== */
.text-box {border:1px solid #dfdfdf; color:#858c91; size:14px; padding:10px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; }

.btn{  color:#fff; text-transform:uppercase; size:14px; padding:10px 20px; display:inline-block; text-align:center;cursor:pointer;	 }

.btn-gray{ background:#3b4348; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; size:12px; width:auto; padding:10px; }
.btn-black{ background:#3b4348; }

.inline {display:inline-block; }

/* =============================== header ========================== */

.header-top{padding:10px 0; }

.search-box {vertical-align:middle; padding:20px 0; text-align:center; }
.search-box .text-box { width:385px;  }

.search-box .btn{ width:110px; }

.main-nav {float:right; padding:30px 0; }
.main-nav ul li{ display:inline-block; position:relative; }
.main-nav ul li > span { padding:0 15px; text-transform:uppercase; }
.main-nav ul li a{ text-transform:uppercase; color:#3b4348; 	  family: 'proxima_novaregular'; }
.main-nav ul li a span{margin-right:7px;   family: 'proxima_novaregular';}
.main-nav .glyphicon  {size:16px; }

.main-nav ul .sub-menu.block {display:block; } 
.main-nav ul .sub-menu {position:absolute; display:none; top:30px; z-index:9; right:0px; width:180px; background:url('/images/arrow.png') no-repeat right 0; padding-top:7px; }



.controls .previous {background:url('/images/arrow-left.png') no-repeat 0 0;}
.controls .next {background:url('/images/arrow-right.png') no-repeat 0 0;}


.main-nav ul .sub-menu li{ display:block; background:#d9d9d9;   }

.main-nav ul .sub-menu li a {padding:12px 22px; text-transform:capitalize; display:block; }

.main-nav ul .sub-menu li a:hover {background:#eff1f5; weight:bold; } 


/* ============================= .news  ============================= */
.p-30  {padding:30px 0; }
.p-20  {padding:15px 0; }
.news .block{ background:#dfdfdf; } 
.news .block h5{ size:16px;   family: 'proxima_novasemibold'; color:#3b3b3b;  }
.news .block p{size:12px; line-height:24px; margin:10px 0; }

.news .text{padding:15px; }
.news .col-9 .row{margin:0 -10px; }
.news .col-9 .row .col-4{padding:0 10px; }
.news .col-9{ width:82%; } 
.news .col-3 {width:18%; padding-left:0px; }

.block-tittle{text-align:center; size:24px; padding-bottom:30px; text-transform:uppercase; }
img {max-width:100%; height:auto; }

.news-tab li {margin:0 0 3px 0; display:block; }
.news-tab li a{ background:#cecdcd; padding:20px; text-align:center; display:block; size:16px;  color:#3b3b3b;  family: 'proxima_novasemibold'; }

.news-tab li a:hover,
.news-tab li a.active {background:#3b4348; color:#fff; }

.center{text-align:center; }



/*       ========================== top-footer ====================== */

.top-footer{background:#353c41; padding:22px 0; display:inline-block; width:100%; }

.f-nav li{display:inline-block; padding-left:22px; }
.f-nav {text-align:right; }
.f-nav li a{color:#fff; }

.copy-write{ padding:15px 0; color:#6f7579; size:13px; text-align:center; }

.social-icon li {padding-right:15px; display:inline-block; }

.bx-wrapper{ padding:0px; border:none !important; box-shadow:none !important; margin:0 0 10px 0 !important;  }

.bx-controls-direction{display:none !important; }


.bx-pager.bx-default-pager {position:absolute !important; bottom:20px !important;  }


/* pop up */

#login-form input{ width:100%; border-radius:0; }
#login-form .block{padding:20px; width:340px; }
#login-form .btn {margin:6px 0; text-transform:capitalize; }

#login-form .btn.m2{margin-top:12px; }
#login-form h5 {font-size:22px; padding:10px 0; border-bottom:1px solid #ccc; margin:0 5px; }

#login-form a {color:#3f81c7; }

.s-u{float:right; }
.f-u {float:left; }
.r-m { display:block; clear:both;   text-align:center; margin-top:5px; }
.r-h{display:inline-block; clear:both; margin-top:32px; text-align:center; }

.modal {padding:0px !important; width:340px !important; text-align:center; }

.c-w {padding:10px 0; border-bottom:1px solid #ccc; border-top:1px solid #ccc; }
.n-s{padding:10px 0; font-size:12px; }

.carousel .item {background:#e9e9e9; }
.carousel .item .col-12 {padding:0px; }

.carousel .item .text{padding:20px; text-align:center; }
.carousel .item .text .btn  {display:inline-block; margin-top:20px; }





.carousel .item {
	display: block;
	position: absolute;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
}

.carousel .item.active {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.carousel .item.transition {
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}











.controls a{ text-indent:-999999px; font-size:0px; width:19px; height:34px; }

.projects {position:relative; }
 

.carousel {
	 
 	width:860px;
 margin:auto; position:relative;
	overflow: hidden;
	height: 500px;
 
}

.carousel .item {
	width:360px;
	height:420px;
	 
 
	vertical-align: middle;
	 
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.controls {
	position: absolute;
	top:50%;
	left:0%;
	width:100%;
 
}

.controls a {
	display: block;
}

.controls .previous {
	float: left;
}

.controls .next {
	float: right;
}  




.bx-wrapper .bx-pager.bx-default-pager a { background:none; border:1px solid #fff; }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {background:#fff; }

.modal {-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; }

.btn-black:hover { background:#000; }

