%footer.site-footer.clear
  .top-footer
    .container
      .row
        .col-4
          %ul.social-icon
            %li
              %a{:href => "#"}= image_tag('icon-fb.png')
            %li
              %a{:href => "#"}
                = image_tag('icon-twitter.png')
            %li
              %a{:href => "#"}
                = image_tag('icon-li.png')
            %li
              %a{:href => "#"}= image_tag('icon-youtube.png')
        .col-8
          %ul.f-nav
            %li
              %a{:href => "#"} Privacy
            %li
              %a{:href => "#"} Feedback
            %li
              %a{:href => "#"} Support us
            %li
              %a{:href => "#"} Accessibility
            %li
              %a{:href => "#"} Contact us
  .container.copy-write
    .row
      .col-12 © 2016. All Rights Reserved by LoremIpsum.
      .clear
