%body
  %header.header-top
    .container
      .row
        .col-2.logo
          %a{:href => "#"}
            = image_tag('logo.png')
        / logo
        .col-7
          .search-box
            %input.text-box.inline{:placeholder => "Please enter a search term!", :type => "text"}/
            %input.btn.btn-black{:type => "search", :value => "SEARCH"}/
        .col-3
          .main-nav
            %ul
              %li
                %a{:href => "#login-form", :rel => "modal:open"} Sign in
              %li
                %span MENU
                %a.sub-nav-main{:href => "#"}
                  %span.glyphicon.glyphicon-menu-hamburger{"aria-hidden" => "true"}
                %ul.sub-menu
                  %li
                    %a{:href => "#"} News
                  %li
                    %a{:href => "#"} Projects
                  %li
                    %a{:href => "#"} Contact Us
        .clear
  = form_tag "/index" do |f|
    #login-form.modal
      %h5 Sign In
      .block
        %input.text-box{:name => "t2", :placeholder => "Username or Email", :required => "", :type => "text", :value => ""}/
        %input.text-box{:name => "t2", :placeholder => "Password", :required => "", :type => "password", :value => ""}/
        %input.btn.btn-black.m2{:type => "button", :value => "Sign In"}/
        %input.btn.btn-black{:type => "button", :value => "Admin"}/
        %a.f-u{:href => "http://#"} Forgot username / password?
        %a.s-u{:href => "http://sign_up"} Sign Up
        %a.r-h{:href => "http://#"} Request Help
        %a.r-m{:href => "http://sign_up"} Request Member Access
      .c-w Continue without signing in
      .n-s (Note: Some content is available only to member)
