#ajax-modal.modal.hide.fade{:tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3.modal-title Campustask
  .modal-body
    .modal-body-content
    .ajax-loader
  .modal-footer
    %button.btn{"data-dismiss" => "modal", :type => "button"} Close
