%form#login-form.modal
  %center
    %table
      %tbody
        %tr
          %td  
        %tr
          %td
            %input{:name => "t2", :placeholder => "Username or Email", :required => "", :type => "text", :value => ""}/
        %tr
          %td
            %input{:name => "t2", :placeholder => "Password", :required => "", :type => "password", :value => ""}/
        %td
          %input{:type => "button", :value => "Sign In"}/
        %tr
          %td
            %input{:type => "button", :value => "Admin"}/
        %tr
          %td
            %a{:href => "http://#"} Forgot username / password?
          %td
          %td
            %a{:href => "http://sign_up"} Sign Up
        %tr
          %td
            %a{:href => "http://#"} Request Help
        %tr
          %td
            %a{:href => "http://sign_up"} Request Member Access
        %tr
          %td
            %hr/
        %tr
          %td Continue without signing in
        %tr
          %td
            %hr/
        %tr
          %td (Note: Some content is available only to member)
