!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WaterProject
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"}
    %script{:src => "http://bxslider.com/lib/jquery.bxslider.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 	 'bootstrap.css', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 	 'style.css', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'jquery.circular-carousel', 'data-turbolinks-track' => true
    = javascript_include_tag 'script', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      $(document).ready(function(){
          $(".sub-nav-main").click(function(){
              $(".sub-menu").toggleClass("block");
          });
      });
  %body
    = render 'common/header'
    = yield
    = render 'common/footer'
    :javascript
      $(document).ready(function(){
        jQuery('.bxslider').bxSlider();
      });
